@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root{
  --blue-green: color:rgb(7, 175, 139);
  --yellow: color: #e9b20a;
}

body {
  /*Set style defaults*/
  background-color: #1e1e28;
  color: white;
}

.custom-text-fill {color: #e9b20a;}
.header-color {color: #f0f0f2;}
.content-color {color : #515159;}

.nav-item {
  color: #f0f0f2;
  text-decoration: none;
  margin-right:15px;
  padding-bottom:6px;
  font-weight: 100;
  transition: 0.1s ease;
}

.nav-item:hover{
  color: #e9b20a;
  border-bottom: 2px solid #e9b20a;
}

.item-active {
  color: #e9b20a;
  border-bottom: 2px solid #e9b20a;
}

.row1 {
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 5%;
  height: 80vh;
  font-family :monospace;
}

.p2 {
  font-size :50px;
  font-weight: 600;
}

.p3 {
  font-size :50px;
  font-weight: 600;
  margin-top: -15px;
}

.tag {
  font-weight: 600;
}

.row2 {
  margin-left: 5%;
  margin-right: 5%;
}

.row2-header{
  display: flex;
  align-items: center;
}

.row-line {
  margin-left: 5%;
  width:68%;
  border-bottom: 5px solid #e9b20a;
}

.about-myself {
  font-size: 30px;
  font-weight: 700;
}


.prof-pic {
  opacity: 0.8;
  width: 320px;
}
